.main {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.navbar,
.footer {
    flex-basis: 0.2;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc {
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.bottle {
    z-index: 1000;
}