.header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 5% 0;
}

.header img {
    height: 4em;
    margin-right: 15px;
}

body {
    text-align: center;
}

b {
    color: white;
}

.data {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 10%;
    z-index: 1000;
}

.stats {
    flex-shrink: 0;
    margin: 7%;
}

.recent {
    padding: 2%;
    border-radius: 5px;
    flex-grow: 0.5;
}

.contributions {
    margin-top: 10%;
}

.bottle {
    padding: 2%;
    margin: 1%;
    background: #70b7ff3d;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px;
}

.main {
    display: flex;
    flex-direction: column;
}

.content {
    font-size: 1.2em;
    word-wrap: break-word;
    color: white;
}

.time {
    font-size: 0.5em;
    color: gray;
    position: relative;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.guild {
    font-size: 0.9em;
    color: white;
    position: relative;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.admin {
    background: #2063FF;
    color: white;
    padding: 5px;
    border-radius: 2px;
    margin-left: 10px;
}